<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Product
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
                        <table class="table responsive-sm table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">No</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Type</th>
                                    <th scope="col">Img</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    v-for="(item, key) in data.products"
                                    :key="key"
                                    :value="item"
                                >
                                    <th scope="row">{{ key + 1 }}</th>
                                    <td>{{ item["title"] }}</td>
                                    <td>
                                        <span v-html="item['body_html']"></span>
                                    </td>
                                    <td>{{ item["product_type"] }}</td>
                                    <td>
                                        <img
                                            :src="item['image']['src']"
                                            width="400"
                                        />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout"
import "bootstrap/dist/css/bootstrap.css"

export default {
    props: {
        data: Object
    },
    components: {
        AppLayout
    }
}
</script>
